---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
import ModelSSection from "../components/ModelSSection.astro";
import Model3Section from "../components/Model3Section.astro";
import ModelXSection from "../components/ModelXSection.astro";
import PowerwallSection from "../components/PowerwallSection.astro";
import Accesorio from "../components/Accesorio.astro";
---

<Layout title="Tesla">
  <Header />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <Model3Section />
    </div>
    <div class="snap-center">
      <ModelYSection />
    </div>
    <div class="snap-center">
      <ModelXSection />
    </div>
    <div class="snap-center">
      <ModelSSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <PowerwallSection />
    </div>
    <div class="snap-center">
      <Accesorio />
    </div>
  </main>
</Layout>
