<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative text-white"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Accesorios</h2>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="bg-white text-sm rounded font-medium text-black px-12 py-2 hover:bg-black
           hover:text-white inline-flex justify-center items-center transition-colors"
          href="#"
        >
          Comprar ahora
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 buttom-0 h-full w-full z-10">
    <img
      src="/public/accesorios.avif"
      alt="Powerwall"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
