<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative text-white"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">
        Vive la experiencia tesla
      </h2>
      <p class="text-white text-sm">Agenda una prueba de manejo hoy</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div>
        <a
          class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium
              text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#"
        >
          prueba de manejo
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 buttom-0 h-full w-full z-10">
    <video
      class="tcl-asset tcl-video__asset lozad tcl-objectfit-position tcl-objectfit-position--center"
      preload="auto"
      playsinline=""
      autoplay
      muted=""
      loop=""
      poster="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Demo-Drive-Desktop-Poster-NA.jpg"
      src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Demo-Drive-Desktop-NA.mp4"
    ></video>
  </div>
</section>
